h1 {
    color: red;
    text-align: center;
}
h2 {
    text-align: center;
}
body {
    background-color: rgb(133, 128, 124);
}
form {
    text-align: center;
}
#checkbox_FORM {
    text-align: center;
    font-weight: bold;
    
}
#Comment {
    text-align: center;
    font-weight: bold;

}
#radio_FORM {
    text-align: center;
}

.Introduction {
    color : blue;
    text-align: left;
}
.Introduction_Header {
    color : rgb(196, 21, 21);
    text-align: left;
    
}
.Places_Header {
    text-align: left;
    color: red;
}
.Images_Header {
    text-align: left;
    color: red;
}
#Salzburg_header {
    text-align: left;
    font-weight: bold;
    color: black;
}
#Vienna_header {
    text-align: left;
    font-weight: bold;
    color: red;
}
#Innsbruck_header {
    text-align: left;
    font-weight: bold;
    color:white;
}
#Graz_header {
    text-align: left;
    font-weight: bold;
    color: red;
}
#Austria_flag1 {
    float: left;
}
#Austria_flag2 {
    
    float: right;
}
#border {
    border-style: solid;
    border-color: crimson;
    border-width: thick;
}